name: Build and Deploy to GHCR

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Install ko
        uses: ko-build/setup-ko@v0.9

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set variables
        id: set_var
        run: |
          content=`cat ./config.json`
          version=`echo $(jq -r '.version' <<< "$content")`
          echo "version=${version}" >> $GITHUB_OUTPUT
          repo_name=`basename ${{ github.repository }}`
          echo "repo_name=${repo_name}" >> $GITHUB_OUTPUT
          GHCR_IMAGE="ghcr.io/${{ github.repository_owner }}/${repo_name}"
          echo "ghcr_image=${GHCR_IMAGE}" >> $GITHUB_OUTPUT

      - name: Deploy to GitHub Container Registry
        env:
          KO_DOCKER_REPO: ${{ steps.set_var.outputs.ghcr_image }}
          BUILD_VERSION: ${{ steps.set_var.outputs.version }}
        run: |
          ko build . --base-import-paths --sbom=none --tags="$BUILD_VERSION,latest"
